body {
  background-image: url('../img/witter-background.png');
  background-size: cover; /* Makes the background cover the entire viewport */
  background-repeat: no-repeat; /* Ensures the image doesn't repeat */
  background-position: center center; 
  background-attachment: fixed; 
  min-height: 100vh; 
  margin: 0; /* Remove default margin */
  background-color: rgb(0, 35, 68) !important;
}
  
/* Gets rid of resize option on input */
.form-control {
  resize: none;
}  

.profile-button, .logout-button, .home-button, .favorites-button, .default-button {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(7, 31, 53, 0.699);
  border: 1px solid rgba(255, 255, 255, 0.116);
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  color: white;
  width: 50%;
  padding: 10px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.profile-button:hover, .logout-button:hover, .home-button:hover, .favorites-button:hover, .default-button:hover {
  background-color: rgb(34, 67, 97) !important;
  border: 1px solid white;
  width: 53%;
}

.currentProfilePic {
  border-radius: 50%; /* Use 50% for a perfect circle */
  width: 120px; /* Desired width */
  height: 120px; /* Desired height */
  object-fit: cover; /* Maintain aspect ratio */
}