.welcome-col {
    margin-top: 10%;
    color: white;
    border: 1px solid #6a6a6a;
    background-color: rgba(0, 90, 154, 0.403) !important;
    padding: 70px 0px;
    border-radius: 15px;
}

.default-button {
    width: 30% !important;
}

.default-button:hover {
    width: 33% !important;
}

.welcome-text {
    font-weight: bold;
    font-size: 45px;
}

.welcome-bio {
    font-size: 20px;
}