.login-col {
    border: 1px solid black;
    border-radius: 10%;
    margin-top: 7%;
    padding: 110px;
    background-color: rgb(45, 93, 127);
    transition: all 0.2s ease-in-out;
}

.login-col:hover {
    background-color: rgb(36, 76, 109);
}

#username-input, #password-input {
    padding: 15px;
    border-radius: 15px;
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
}

#username-input:hover, #password-input:hover {
    background-color: rgb(214, 214, 214);
}

.login-button {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
}

.login-button:hover {
    background-color: rgb(214, 214, 214);
}