.pageLogo {
  width: 28%;
  height: auto;
  margin: 30px 10px;
}

/* ======================================= */

.new-wit-row {
  background-color: rgba(0, 35, 68, 0.808);
  border: 1px solid rgba(255, 255, 255, 0.315);
}

.wit-input {
  background-color: #56565600 !important;
  height: 150px;
  font-size: 25px !important;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #cccccc00 !important;
  border-radius: 4px;
  resize: none;
  color: white !important;
}

.wit-input:focus {
  outline: none !important;
  -webkit-tap-highlight-color: transparent; /* For Safari */
}

.hidden-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.image-icon {
  color: rgb(255, 255, 255);
  width: 30px;
  height: auto;
  transition: all 0.2s ease-in-out;
}

.image-icon:hover {
  color: rgb(170, 170, 170);
}

.wit-button {
  float: right;
  font-weight: bold;
  padding: 5px 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid black;
  transition: all 0.2s ease-in-out;
}

.wit-button:hover {
  background-color: rgb(133, 164, 174);
}

/* =================================================== */
/* POSTED WITS */
/* =================================================== */

.wit-author {
  margin: 0px !important;
}

.wit-row {
  padding: 20px;
  transition: all 0.2s ease-in-out;
  color: white;
  border: 1px solid rgb(50, 50, 50);
}

.new-wit {
  transition: all 0.3s ease-in-out;
  margin-bottom: 0px !important; /* to fix random spacing issue */
  padding-bottom: 15px;
}

.wit-row:hover , .new-wit:hover {
  background-color: rgb(37, 71, 102);
  border: 1px solid white;
}

.wit-image {
  max-width: 150px;
}

.wit-profilePic {
  border-radius: 50%; /* Use 50% for a perfect circle */
  width: 80px; /* Desired width */
  height: 80px; /* Desired height */
  object-fit: cover; /* Maintain aspect ratio */
  float: right;
}

.wit-body {
  margin-left: 13px;
}

.wit-like-btn {
  margin-top: 30px;
  border-radius: 20px !important;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.wit-like-btn:hover {
  background-color: rgb(113, 113, 113) !important;
}

/* =================================================== */
/* DROPDOWN MENU */
/* =================================================== */

/* Dropdown Button */
.dropbtn {
  color: rgb(255, 255, 255);
  padding: 10px;
  border: none !important;
  background-color: rgba(255, 0, 0, 0) !important;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10000;
  border-radius: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
}
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #292929;}

  /* =================================================== */

  /* RIGHT MENU */

.search-container {
  position: relative;
  margin-bottom: 30px;
}

.search-input {
  padding-left: 30px; /* Adjust as needed */
  padding: 10px 0px;
  width: 100%;
  background-color: rgb(41, 41, 41);
  border-radius: 20px;
  border: 1px solid rgb(41, 41, 41);
  color: white !important;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  color: white;
}

.logout-text {
  color: white;
  font-weight: bold;
  margin-top: 10px;
  font-size: 25px;
}

/* =========== */

.trending-section {
  background-color: rgba(41, 41, 41, 0.767);
  border: 1px solid rgba(255, 255, 255, 0.315);
  border-radius: 15px;
  color: white;
  text-align: left !important;
  padding: 10px;

}

.trending-title {
  font-size: 25px;
  text-align: center;
}

.T-wit-row {
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  padding: 10px !important;
}

.T-wit-row:hover {
  background-color: rgba(110, 110, 110, 0.562);
  border: 1px solid rgba(255, 255, 255, 0.418);
}

.T-wit-profilePic {
  border-radius: 50%; /* Use 50% for a perfect circle */
  width: 60px; /* Desired width */
  height: 60px; /* Desired height */
  object-fit: cover; /* Maintain aspect ratio */
}

.T-wit-author {
  font-size: 15px;
}

.T-wit-date {
  margin-top: -5px;
  font-size: 10px;
}

.T-wit-body {
  font-size: 12px;
  margin-top: -5px;
}

.T-wit-like-btn {
  margin-top: -10px;
  border-radius: 20px !important;
  transition: all 0.2s ease-in-out;
  font-size: 10px !important;
  font-weight: bold !important;
}

.T-wit-like-btn:hover {
  background-color: rgb(113, 113, 113) !important;
}